<div layout-gt-sm="row" tdMediaToggle="gt-xs" >
  <div flex-gt-sm="60">
    <mat-card>
      <mat-card-title>S&P 500</mat-card-title>
      <mat-card-subtitle>usage stats for our products</mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div id="chart1" style="width:600px; height:400px;"></div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Nasdaq</mat-card-title>
      <mat-card-subtitle>Recent activity from select members</mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div id="chart2" style="width:600px; height:400px;"></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div flex-gt-sm="40">
    <mat-card>
      <mat-card-title>Alerts</mat-card-title>
      <mat-card-subtitle>Items requiring attention</mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        card content
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <a mat-button color="accent" class="text-upper" [routerLink]="['/logs']">
          <span>View More</span>
        </a>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-title>News</mat-card-title>
      <mat-card-subtitle>Market news</mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list dense>
          <mat-list-item *ngFor="let message of messages">
            <h3 matLine>
              <span style="color: blue; font-weight: bold; font-size: medium">{{message.from}}</span>
              <span
                class="demo-2" style="white-space: pre; color: gray">   {{message.content}}</span></h3>
            <div matLine>
              <span> {{message.subject}} </span>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button color="accent" class="text-upper" [routerLink]="['/editor']">
          <span>Add</span>
        </a>
        <a mat-button color="accent" class="text-upper" [routerLink]="['/product']">
          <span>View More</span>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
